# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\princeton_algo\code\kd-trees\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
